.f-action  {
  white-space: pre-line;
  padding: 0.25rem 0.5rem;
  min-height: 2.5rem;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 0.6rem;

  .groups {
    font-size: 12px;
    color: #a5a5a5;
  }

}