<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vex-page-layout mode="card">

    <vex-page-layout-header class="flex flex-col pb-16 items-center justify-center">
      <div class="w-full flex flex-col sm:flex-row justify-between" [class.container]="'boxed'">
        <div class="flex items-center justify-center">
                  <span class="w-10 h-10 rounded-full text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center bg-primary-600/10">
                      <mat-icon svgIcon="mat:label" size="20px"></mat-icon>
                  </span>
          <h1 class="title m-0 font-semibold" *ngIf="!form?.get('id').value">{{ 'tag.new' | translate }}</h1>
          <h1 class="title m-0 font-semibold" *ngIf="form?.get('id').value">{{ 'tag.edit' | translate }}</h1>
        </div>
      </div>
    </vex-page-layout-header>

    <vex-page-layout-content class="flex flex-col" [class.container]="'boxed'">
      <div class="card flex flex-row">
        <div class="w-11/12 px-6 pt-4 pb-2">
          <mat-form-field class="flex-auto w-full" appearance="outline">
            <mat-label>{{ 'description' | translate }}</mat-label>
            <input formControlName="description" matInput required>
            <mat-error *ngIf="form?.get('description').hasError('required')">
              {{ 'description.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="w-1/12 px-6 pt-4 pb-2 mt-1">
          <div
            class="color-preview"
            [style.background]="form.get('color').value"
            (click)="colorPicker.click()">
          </div>
          <input
            #colorPicker
            type="color"
            formControlName="color"
            class="hidden-input" />
        </div>
      </div>

      <div class="flex flex-col mt-6 footer-content">

        <add-contact-in-list [dataSource]="dsContacts"></add-contact-in-list>

        <div class="flex flex-row justify-end px-6 py-4 bar">
          <button mat-button (click)="onCancel()">{{ 'cancel' | translate }}</button>
          <button mat-button color="primary" [disabled]="form?.invalid"
                  *ngIf="!form?.get('id').value">{{ 'create' | translate }}
          </button>
          <button mat-button color="primary" [disabled]="form?.invalid"
                  *ngIf="form?.get('id').value">{{ 'edit' | translate }}
          </button>
        </div>
      </div>

    </vex-page-layout-content>

  </vex-page-layout>

</form>
