.header {
  .phone {
    font-weight: 500;
    color: grey;
  }
}

.body {
  max-height: 500px;
  background-color: #efe9e0;
  background-image: url('/assets/img/rmr3BrOAAd8-opacity.png');
  background-size: cover;
  overflow-y: auto;
}
