.time-interval-node {
  width: 20rem;

  .footer {
    height: auto;
    padding: 0.5rem;
    background-color: rgba(243, 244, 246, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
  }
}
