<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="flex flex-row items-center justify-between" mat-dialog-title>
    <h2 class="headline m-0">{{ 'password.change' | translate }}</h2>

    <button class="text-secondary" mat-dialog-close="" mat-icon-button type="button">
      <mat-icon [svgIcon]="'mat:close'"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <mat-form-field class="mt-1 flex-auto" appearance="outline">
      <mat-label>{{ 'current-password' | translate }}</mat-label>
      <input formControlName="currentPassword" matInput required type="password">
      <mat-error *ngIf="form.get('currentPassword').hasError('required')">
        {{ 'current-password.required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-1 flex-auto" appearance="outline">
      <mat-label>{{ 'new-password' | translate }}</mat-label>
      <input formControlName="newPassword" matInput required type="password">
      <mat-error *ngIf="form.get('newPassword').hasError('required')">
        {{ 'new-password.required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-1" appearance="outline">
      <mat-label>{{ 'confirm-new-password' | translate }}</mat-label>
      <input formControlName="confirmNewPassword" matInput required type="password">
      <mat-error *ngIf="form.get('confirmNewPassword').hasError('required')">
        {{ 'confirm-new-password.required' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('confirmNewPassword').hasError('passwordNotMatch')">
        {{ 'confirm-new-password.notEqual' | translate }}
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="" type="button">{{ 'cancel' | translate }}</button>
    <button color="primary" mat-button type="submit" [disabled]="form.invalid">{{ 'change' | translate }}</button>
  </mat-dialog-actions>
</form>
