.f-select-node {
  //min-height: 10rem;
  //min-width: 15rem;
  //max-width: 23rem;
  width: 21.5rem;

  .body {

    .item {
      min-width: 6.5rem;
    }

    .title {
      margin-left: 0.5rem;
      font-weight: 500;
      font-size: 14px;
    }

  }
}
