<div class="template pb-4 flex flex-col">
  <div class="template-content">
    <div class="template-msg">
      <div class="template-msg-content" [ngClass]="{'isMedia': this.isMedia()}">
        <!-- HEADER -->

        <div class="flex flex-row justify-center template-loading-media" *ngIf="this.isLoading">
          <mat-progress-spinner mode="indeterminate" diameter="70" strokeWidth="5" color="primary"
                                *ngIf="this.isLoading" class="spineer"></mat-progress-spinner>
        </div>

        <div *ngIf="this.isHeaderTextSelected()" class="header">{{ header?.text }}</div>

        <div *ngIf="this.isHeaderImageSelected() && !this.isLoading"
             [ngClass]="{'template-empty-media image': !fileUrl}">
          <img *ngIf="fileUrl" class="template-media" [src]="this.safeFileUrl" alt="">
        </div>

        <div *ngIf="this.isHeaderVideoSelected() && !this.isLoading"
             [ngClass]="{'template-empty-media video': !fileUrl, 'spinner': isLoading}">
          <video *ngIf="fileUrl" class="template-media" [src]="this.safeFileUrl" controls></video>
        </div>

        <div *ngIf="this.isHeaderDocumentSelected() && !this.isLoading"
             [ngClass]="{'template-empty-media document': !fileUrl}">
          <embed *ngIf="fileUrl" class="template-media" [src]="this.safeFileUrl"/>
        </div>
        <!-- HEADER -->

        <div class="body">{{ body }}</div>
        <div class="footer">{{ footer }}</div>
      </div>
      <div class="button-quick-reply">
        <div *ngFor="let item of this.button.buttons">
          <div *ngIf="item?.text">
            <div class="item-button-quick-reply text-item-button" *ngIf="this.isButtonQuickReply(item)">
              <mat-icon svgIcon="mat:reply"></mat-icon>
              {{ item.text }}
            </div>
            <div class="item-button-quick-reply text-item-button" *ngIf="this.isButtonPhoneNumber(item)">
              <mat-icon svgIcon="mat:call"></mat-icon>
              {{ item.text }}
            </div>
            <div class="item-button-quick-reply text-item-button" *ngIf="this.isButtonUrl(item)">
              <mat-icon svgIcon="mat:launch"></mat-icon>
              {{ item.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

