<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vex-page-layout mode="card">

    <vex-page-layout-header class="flex flex-col pb-16 items-start justify-center">
      <div class="flex items-center">
                  <span
                    class="w-10 h-10 rounded-full text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center bg-primary-600/10">
                      <mat-icon svgIcon="mat:message"></mat-icon>
                  </span>
        <h1 class="title m-0" *ngIf="!form?.get('id').value">{{ 'template.new' | translate }}</h1>
        <h1 class="title m-0" *ngIf="form?.get('id').value">{{ 'template.edit' | translate }}</h1>
      </div>
    </vex-page-layout-header>

    <vex-page-layout-content class="flex flex-col">
      <!-- SE ESTIVER CRIANDO UM NOVO APARECE OS CAMPOS NO HEADER     -->
      <div class="card" *ngIf="!form?.get('id').value">
        <div class="flex flex-col px-6 py-4">
          <div class="flex flex-row space-x-1">
            <mat-form-field class="w-2/12" appearance="outline">
              <mat-label>{{ 'channel.title' | translate }}</mat-label>
              <mat-select formControlName="channelId" required>
                <mat-option
                  *ngFor="let channel of this.channels"
                  [value]="channel.id"
                  class="example-radio-button">
                  {{ channel.name || '' }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.form?.get('channelId').hasError('required')">
                {{ 'channel.required' | translate }}
              </mat-error>
              <mat-hint align="start">
                {{ 'template.channel.hint' | translate }}
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-4/12" appearance="outline">
              <mat-label>{{ 'name' | translate }}</mat-label>
              <input formControlName="name"
                     matInput
                     required
                     [maxlength]="this.maxNameLength">
              <mat-error *ngIf="form?.get('name').hasError('required')">
                {{ 'name.required' | translate }}
              </mat-error>
              <mat-hint align="start">
                {{ 'template.name.hint' | translate }}
              </mat-hint>
              <mat-hint align="end">
                {{ this.onNameLength() }} / {{ this.maxNameLength }}
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-3/12" appearance="outline">
              <mat-label>{{ 'category' | translate }}</mat-label>
              <mat-select formControlName="category"
                          required>
                <mat-option
                  *ngFor="let category of categorys | keyvalue"
                  [value]="category.key"
                  class="example-radio-button">
                  {{ category.value | translate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('category').hasError('required')">
                {{ 'category.required' | translate }}
              </mat-error>
              <mat-hint
                *ngIf="isMarketing();">{{ 'template.category.marketing.hint' | translate }}
              </mat-hint>
              <mat-hint *ngIf="isUtility();">{{ 'template.category.utility.hint' | translate }}</mat-hint>
              <mat-hint
                *ngIf="isAuthentication();">{{ 'template.category.authentication.hint' | translate }}
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-3/12" appearance="outline">
              <mat-label>{{ 'language' | translate }}</mat-label>
              <mat-select formControlName="language" required>
                <mat-option
                  *ngFor="let lang of languagesOptions"
                  [value]="lang.code"
                  class="example-radio-button">
                  {{ lang.language | translate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('language').hasError('required')">
                {{ 'language.required' | translate }}
              </mat-error>
              <mat-hint>{{ 'template.language.hint' | translate }}</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>

      <!-- SE ESTIVER EDITANDO É OUTRO HEADER     -->
      <div class="card" *ngIf="form?.get('id').value">
        <div class="flex flex-col px-6 py-4">
          <div class="flex flex-row">
            <div class="flex flex-row items-center w-3/12">
              <div @scaleIn
                   class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon svgIcon="mat:message"></mat-icon>
              </div>

              <div @fadeInRight>
                <p class="m-0 body-1">{{ this.form?.get('name').value }}</p>
                <p class="m-0 caption text-hint">{{ 'template.name' | translate }}</p>
              </div>
            </div>
            <div class="flex flex-row items-center w-3/12">
              <div *ngIf="hasRejectedReason()" class="flex flex-row">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'category' | translate }}</mat-label>
                  <mat-select formControlName="category"
                              required>
                    <mat-option
                      *ngFor="let category of categorys | keyvalue"
                      [value]="category.key"
                      class="example-radio-button">
                      {{ category.value | translate }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('category').hasError('required')">
                    {{ 'category.required' | translate }}
                  </mat-error>
                  <mat-hint
                    *ngIf="isMarketing();">{{ 'template.category.marketing.hint' | translate }}
                  </mat-hint>
                  <mat-hint
                    *ngIf="isUtility();">{{ 'template.category.utility.hint' | translate }}
                  </mat-hint>
                  <mat-hint
                    *ngIf="isAuthentication();">{{ 'template.category.authentication.hint' | translate }}
                  </mat-hint>
                </mat-form-field>
              </div>
              <div *ngIf="!hasRejectedReason()" class="flex flex-row">
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon svgIcon="mat:category"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 body-1">{{ this.form?.get('category').value | translate }}</p>
                  <p class="m-0 caption text-hint">{{ 'category' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="flex flex-row items-center w-3/12">
              <div @scaleIn
                   class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon svgIcon="mat:language"></mat-icon>
              </div>

              <div @fadeInRight>
                <p class="m-0 body-1">{{ this.onGetLanguageName() }}</p>
                <p class="m-0 caption text-hint">{{ 'language' | translate }}</p>
              </div>
            </div>
            <div class="flex flex-row items-center w-3/12">
              <div @scaleIn
                   class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon svgIcon="mat:outlined_flag"></mat-icon>
              </div>

              <div @fadeInRight>
                <p class="m-0 body-1">{{ this.form?.get('status').value | translate }}</p>
                <p class="m-0 caption text-hint">{{ 'status' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4" *ngIf="hasRejectedReason()">
        <div class="flex flex-row bg-orange-100 rounded text-orange-400 shadow">
          <div class="flex flex-col rejected-reason-icon">
            <mat-icon svgIcon="mat:warning"></mat-icon>
          </div>
          <div class="flex flex-col px-6 py-4">
            <div class="flex flex-row">
              <span class="font-bold">{{ 'rejectedReason-instructions.instruction-1' | translate }}</span>
            </div>
            <div class="flex flex-row">
              <span>{{ 'rejectedReason-instructions.instruction-2' | translate }}</span>
            </div>
            <div class="flex flex-row">
              <span>{{ 'rejectedReason-instructions.instruction-3' | translate }}</span>
            </div>
            <div class="flex flex-row">
              <span><span class="font-bold">{{ "reason" | translate }}
                :</span> {{ this.form.get('rejectedReason').value | translate }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="py-4 border-b px-6">
          <h2 class="title m-0">{{ 'template.to-edit' | translate }}</h2>
        </div>
        <div class="flex flex-row px-6 py-4">
          <div class="w-8/12">
            <div class="flex flex-col" formGroupName="header">
              <div class="flex-auto">
                <label class="subheading-2 m-0 font-bold">{{ 'template.header' | translate }}</label>
                <span class="ml-3 m-0 optional bg-primary-500">{{ 'optional' | translate }}</span>
              </div>
              <div class="flex-auto">
                <span class="sub-title m-0 text-xs">{{ 'template.header.hint' | translate }}</span>
              </div>
              <div class="flex flex-row mt-2 space-x-1">
                <mat-form-field class="w-2/12" appearance="outline">
                  <mat-label>{{ 'format' | translate }}</mat-label>
                  <mat-select formControlName="format">
                    <mat-option
                      *ngFor="let format of formats | keyvalue"
                      [value]="format.key"
                      class="example-radio-button">
                      {{ format.value | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="w-10/12" *ngIf="isHeaderFormatText()">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>{{ 'template.header.text.hint' | translate }}</mat-label>
                    <input formControlName="text" matInput [maxlength]="this.maxHeaderTextLength">
                    <mat-hint align="end">
                      <span>{{ this.onHeaderTextLength() }} / {{ this.maxHeaderTextLength }}</span>
                    </mat-hint>

                    <button type="button"
                            color="primary"
                            mat-icon-button
                            class="button-variable-header"
                            [matTooltip]="'variable.add' | translate"
                            [disabled]="this.hasHeaderVariable()"
                            (click)="onAddHeaderVariable()">
                      <mat-icon svgIcon="mat:code"></mat-icon>
                    </button>

                  </mat-form-field>
                </div>

                <div class="w-10/12 items-center" *ngIf="isHeaderMidia()">
                  <app-file-upload
                    class="max-w-full"
                    [selectedFile]="selectedFile"
                    [format]="this.headerFormat"
                    (fileSelectedOutput)="onFileSelected($event)">
                  </app-file-upload>
                </div>
              </div>
              <div class="variable-content mt-4 mb-4"
                   formGroupName="example"
                   *ngIf="this.hasHeaderVariable()">
                <div class="pb-3">
                                    <span class="font-bold">
                                        {{ 'template.header.example.description' | translate }}
                                    </span>
                </div>
                <div class="sub-description">
                  {{ 'template.header.example.sub-description' | translate }}
                </div>

                <mat-form-field class="w-full mt-2"
                                appearance="outline"
                                *ngFor="let variable of this.exampleHeaderText.controls; let i = index"
                                formArrayName="headerText">
                  <mat-label>{{ this.onGetVariableLabel(i) }}</mat-label>
                  <input [formControlName]="i"
                         required
                         matInput>
                  <mat-error *ngIf="variable?.hasError('required')">
                    {{ 'variable.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="flex flex-col" formGroupName="body">
              <div class="flex-auto">
                <label class="subheading-2 m-0 font-bold">{{ 'template.body' | translate }}</label>
              </div>
              <div class="flex-auto">
                <span class="sub-title m-0 text-xs">{{ 'template.body.hint' | translate }}</span>
              </div>

              <div class="w-full flex flex-row mt-2">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>{{ 'template.body.text.hint' | translate }}</mat-label>
                  <textarea matInput
                            formControlName="text"
                            #textAreaBody
                            cdkTextareaAutosize
                            cdkAutosizeMaxRows="6"
                            required
                            [maxlength]="this.maxBodyTextLength"
                  ></textarea>
                  <mat-hint align="end">{{ this.onBodyTextLength() }} / {{ this.maxBodyTextLength }}
                  </mat-hint>
                  <mat-error *ngIf="form.get('body').get('text').hasError('required')">
                    {{ 'template.body.text.required' | translate }}
                  </mat-error>

                  <div class="absolute flex flex-row bottom-0 right-0">
                    <button type="button"
                            color="primary"
                            mat-icon-button
                            class="button-variable-body"
                            [matTooltip]="'variable.add' | translate"
                            (click)="onAddBodyVariable()">
                      <mat-icon svgIcon="mat:code"></mat-icon>
                    </button>

                    <button type="button"
                            color="primary"
                            mat-icon-button
                            class="button-emoji-body"
                            #emojiTrigger="matMenuTrigger"
                            [matMenuTriggerFor]="emojiMenu"
                            [matTooltip]="'emoji.add' | translate">
                      <mat-icon svgIcon="mat:emoji_emotions"></mat-icon>
                    </button>

                    <mat-menu #emojiMenu="matMenu"
                              class="shadow-none bg-none"
                              xPosition="before"
                              yPosition="above">
                      <div (click)="$event.stopPropagation()">
                        <emoji-mart [isNative]="true"
                                    [showPreview]="false"
                                    [enableSearch]="false"
                                    [style]="{ width: '100%', height: 'auto' }"
                                    (emojiSelect)="this.onSelectEmoji($event, emojiTrigger)"></emoji-mart>
                      </div>
                    </mat-menu>
                  </div>
                </mat-form-field>

              </div>

              <div class="variable-content mt-4 mb-4"
                   formGroupName="example"
                   *ngIf="this.hasBodyVariable()">
                <div class="pb-3">
                                    <span class="font-bold">
                                        {{ 'template.body.example.description' | translate }}
                                    </span>
                </div>
                <div class="sub-description">
                  {{ 'template.body.example.sub-description' | translate }}
                </div>

                <mat-form-field class="w-full mt-2"
                                appearance="outline"
                                *ngFor="let variable of this.exampleBodyText.controls; let i = index"
                                formArrayName="bodyText">
                  <mat-label>{{ this.onGetVariableLabel(i) }}</mat-label>
                  <input [formControlName]="i"
                         required
                         matInput>
                  <mat-error *ngIf="variable?.hasError('required')">
                    {{ 'variable.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="flex flex-col" formGroupName="footer">
              <div class="flex-auto">
                <label class="subheading-2 m-0 font-bold">{{ 'template.footer' | translate }}</label>
                <span class="ml-3 m-0 optional bg-primary-500">{{ 'optional' | translate }}</span>
              </div>
              <div class="flex-auto">
                <span class="sub-title m-0 text-xs">{{ 'template.footer.hint' | translate }}</span>
              </div>
              <div class="flex flex-row mt-2">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>{{ 'template.footer.text.hint' | translate }}</mat-label>
                  <input formControlName="text" matInput
                         [maxlength]="this.maxHeaderTextLength">
                  <mat-hint align="end">{{ this.onFooterTextLength() }} / {{ this.maxHeaderTextLength }}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="flex flex-col" formGroupName="button">
              <div class="flex-auto">
                <label class="subheading-2 m-0 font-bold">{{ 'template.button' | translate }}</label>
                <span class="ml-3 m-0 optional bg-primary-500">{{ 'optional' | translate }}</span>
              </div>
              <div class="flex-auto">
                <span class="sub-title m-0 text-xs">{{ 'template.button.hint' | translate }}</span>
              </div>

              <div class="flex flex-row mt-2">
                <mat-form-field class="w-3/12" appearance="outline">
                  <mat-label>{{ 'template.button.action' | translate }}</mat-label>
                  <mat-select formControlName="action">
                    <mat-option
                      *ngFor="let action of actions | keyvalue"
                      [value]="action.key"
                      class="example-radio-button">
                      {{ action.value | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div formArrayName="buttons">
                <div *ngFor="let button of itensbuttonsControls.controls; let i = index"
                     [formGroupName]="i">
                  <div class="flex flex-row space-x-1">
                    <mat-form-field class="w-2/12" appearance="outline">
                      <mat-label>{{ 'template.button.type' | translate }}</mat-label>
                      <mat-select formControlName="type">
                        <mat-option
                          *ngFor="let type of buttonsType | keyvalue"
                          [value]="type.key"
                          class="example-radio-button">
                          {{ type.value | translate }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-3/12" appearance="outline">
                      <mat-label>{{ 'template.button.text' | translate }}</mat-label>
                      <input formControlName="text" matInput
                             [maxlength]="this.maxButtonTextLength">
                      <mat-hint align="end">{{ this.onButtonTextLength(i) }}
                        / {{ this.maxButtonTextLength }}
                      </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="w-6/12" appearance="outline"
                                    *ngIf="this.isButtonPhoneNumber(i)">
                      <mat-label>{{ 'number' | translate }} {{ 'template.button.phoneNumber.hint' | translate }}</mat-label>
                      <input formControlName="phoneNumber" matInput
                             [maxlength]="20">
                      <mat-hint align="end">{{ this.onButtonPhoneNumberLength(i) }}
                        / {{ this.maxButtonPhoneNumberLength }}
                      </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="w-6/12" appearance="outline"
                                    *ngIf="this.isButtonUrl(i)">
                      <mat-label>{{ 'url' | translate }}</mat-label>
                      <input formControlName="url" matInput [maxlength]="2000">
                      <mat-hint align="end">{{ this.onButtonUrlLength(i) }}
                        / {{ this.maxButtonUrlLength }}
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-4/12 ml-12">
            <template-message
              [header]="this.onGetHeaderValue()"
              [body]="this.onGetBodyValue()"
              [footer]="this.onGetFooterValue()"
              [button]="this.onGetButtonValue()"
              [fileUrl]="this.onGetSelectedFileUrl()"
            ></template-message>
          </div>
        </div>

        <div class="flex justify-end p-4">
          <button mat-button
                  type="button"
                  [disabled]="this.isLoading"
                  (click)="this.onCancel()">{{ 'cancel' | translate }}
          </button>
          <button color="primary"
                  mat-button
                  type="submit"
                  class="flex justify-center"
                  [disabled]="form.invalid">
            <span *ngIf="!form.get('id').value && !this.isLoading">{{ 'create' | translate }}</span>
            <span *ngIf="form?.get('id').value && !this.isLoading">{{ 'edit' | translate }}</span>
            <mat-progress-spinner
              *ngIf="this.isLoading"
              mode="indeterminate"
              [diameter]="20"
              color="primary"></mat-progress-spinner>
          </button>
        </div>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>
</form>
