<div class="flex flex-row w-full h-full">
    <div class="overflow-hidden w-full self-center card-login">
        <div class="text-left pl-6 mt-4">
            <h2 class="m-0 font-semibold">{{ 'login.forgot.password' | translate }}</h2>
            <h4 class="body-2 text-secondary m-0">{{ 'login.forgot.password.message' | translate }}</h4>
        </div>

        <form [formGroup]="form"
              (ngSubmit)="onSubmit()"
              class="p-6 flex flex-col text-center">

            <mat-form-field appearance="outline">
                <mat-label>{{ 'email' | translate }}</mat-label>
                <input formControlName="email" matInput required type="email">
                <mat-error *ngIf="form.get('email').hasError('required')">
                    {{ 'email.required' | translate }}
                </mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">
                    {{ 'email.invalid' | translate }}
                </mat-error>
            </mat-form-field>

            <button class="mt-2" color="primary" mat-raised-button type="submit"
                    [disabled]="form.invalid || this.isSuccess">
                {{ 'login.forgot.password.recover' | translate }}
            </button>

            <div *ngIf="isSuccess" class="body-2 text-secondary mt-4">
                <b>{{ 'login.forgot.password.recover.email.sucess' | translate }}</b>
            </div>

            <a href="/login">
                <h4 class="body-2 text-secondary mt-2">{{ 'to-go-back' | translate }}</h4>
            </a>
        </form>
    </div>
    <div class="content-img">
        <img [src]="'assets/img/logo/logo-white.svg'" alt="">
        <h2 class="text-white font-bold">{{ 'login.orbe.title' | translate }}</h2>
        <h4 class="text-white">{{ 'login.orbe.sub-title' | translate }}</h4>
    </div>
</div>
